<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reflexology
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Gift Vouchers</a>
                <a href="" class="dropdown-item ">Reflexology Books</a>
                <a href="" class="dropdown-item ">Foot Charts</a>
                <a href="" class="dropdown-item">Hand and Foot Cream</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Batch Flower Remedies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Batch Flower Books</a>
                <a href="" class="dropdown-item">Individual Essences</a>
                <a href="" class="dropdown-item">Flower Cards</a>
                <a href="" class="dropdown-item">Remedy Box Sets</a>
            </div>
        </li>
    </ul>
</div>