<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
<ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="reflexology-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reflexology
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reflexology-link">
                <a href="{% url 'products' %}?category=reflexology_books" class="dropdown-item ">Reflexology Books</a>
                <a href="{% url 'products' %}?category=foot_charts" class="dropdown-item ">Foot Charts</a>
                <a href="{% url 'products' %}?category=hand_foot_cream" class="dropdown-item">Hand and Foot Cream</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bach-flower-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bach Flower Remedies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bach-flower-link">
                <a href="{% url 'products' %}?category=bach_flower_books" class="dropdown-item">Bach Flower Books</a>
                <a href="{% url 'products' %}?category=individual_essences" class="dropdown-item">Individual Essences</a>
                <a href="{% url 'products' %}?category=flower_cards" class="dropdown-item">Flower Cards</a>
                <a href="{% url 'products' %}?category=remedy_box_sets" class="dropdown-item">Remedy Box Sets</a>
            </div>
        </li>
    </ul>
</div>